[*.{cs,vb}]

# IDE0032: Использовать свойство auto
dotnet_style_prefer_auto_properties = true

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = suggestion
